# UBUNTU DataSet - Data Analysis

Geared towards understanding the content within it, in order to create a customer service NLP chatbot in the hopes of providing answers to users in seconds.

The data provided below are multiple questions geared by past users on frequent problems and setbacks occored while using the platform. With the help of understanding those questions and subsequent answers provided, we should be able to create a simple bot that helps users getting answers to Frequently Asked Questions in a matter of miliseconds

FYI: As the datset files are really big in size, I am working on them individually by file in order to increase my run time

In [1]:
#Firstly importing all libraries, to make subsequent queries run efficently
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#These are just the main files needed to proceed further. Subsequent libraries if required will be ran on a need basis.

In [2]:
#Reading the main file to see the contents
ubuntu = pd.read_csv('./archive_2/toc.csv')
print(ubuntu)

      lines      words  characters              filename
0   9212878   91660344   996253904  dialogueText_196.csv
1  16587831  166392849  1799936480  dialogueText_301.csv
2   1038325   11035331   116070597      dialogueText.csv

Lets do an analysis of whats included in each of the three above files. Then based on the findings, we can decide which file to use to further our object

Lets get acquanited with our datasets and see what they actually entail. We will run an info section below to find out the datatypes in each file and total range of entries

In [3]:
ubun1 = pd.read_csv('./archive_2/dialogue_texts/dialogueText.csv')
ubun1.head(5)

,folder,dialogueID,date,from,to,text
0,3,126125.tsv,2008-04-23T14:55:00.000Z,bad_image,NaN,"Hello folks, please help me a bit with the fol..."
1,3,126125.tsv,2008-04-23T14:56:00.000Z,bad_image,NaN,Did I choose a bad channel? I ask because you ...
2,3,126125.tsv,2008-04-23T14:57:00.000Z,lordleemo,bad_image,the second sentence is better english and we...
3,3,64545.tsv,2009-08-01T06:22:00.000Z,mechtech,NaN,Sock Puppe?t
4,3,64545.tsv,2009-08-01T06:22:00.000Z,mechtech,NaN,WTF?

In [4]:
ubun2 = pd.read_csv('./archive_2/dialogue_texts/dialogueText_196.csv')
ubun2.tail(5)

,folder,dialogueID,date,from,to,text
9212872,13,3676.tsv,2012-07-07T20:17:00.000Z,MonkeyDust,legolas,= arian
9212873,13,3676.tsv,2012-07-07T20:18:00.000Z,MonkeyDust,legolas,"observation and deduction, dear watson"
9212874,13,16586.tsv,2008-07-25T01:53:00.000Z,linuxfce,NaN,i am trying to install nvidia drivers from the...
9212875,13,16586.tsv,2008-07-25T01:53:00.000Z,linuxfce,NaN,how do i enter runlevel 3? when i try telinit ...
9212876,13,16586.tsv,2008-07-25T01:54:00.000Z,linuxfce,NaN,anyone know how to enter runlevel 3 in ubuntu?

In [5]:
ubun3 = pd.read_csv('./archive_2/dialogue_texts/dialogueText_301.csv')
ubun3.tail(5)

,folder,dialogueID,date,from,to,text
16587825,32,1783.tsv,2007-11-15T03:38:00.000Z,koyo001,NaN,thanks
16587826,32,1783.tsv,2007-11-15T03:39:00.000Z,koyo001,NaN,does anyone know something
16587827,32,1783.tsv,2007-11-15T03:39:00.000Z,neverblue,NaN,"no, no one knows everything"
16587828,32,1783.tsv,2007-11-15T03:40:00.000Z,koyo001,ikonia,the camera doesnt work
16587829,32,1783.tsv,2007-11-15T03:40:00.000Z,neverblue,koyo001,I believe you missed a post or two while you w...

Next lets find out the details of each data set to what type of data is used in the set and how we can use them. And if need be, to change some of the values.

In [6]:
print('Info of First DataSet')
print(ubun1.info())
print('\nInfo of Second DataSet')
print(ubun2.info())
print('\nInfo of Third DataSet')
print(ubun3.info())

Info of First DataSet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1038324 entries, 0 to 1038323
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   folder      1038324 non-null  int64
 1   dialogueID  1038324 non-null  object
 2   date        1038324 non-null  object
 3   from        1038311 non-null  object
 4   to          566035 non-null   object
 5   text        1038237 non-null  object
dtypes: int64(1), object(5)
memory usage: 47.5+ MB
None

Info of Second DataSet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9212877 entries, 0 to 9212876
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   folder      int64
 1   dialogueID  object
 2   date        object
 3   from        object
 4   to          object
 5   text        object
dtypes: int64(1), object(5)
memory usage: 421.7+ MB
None

Info of Third DataSet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16587830 entries, 0 to 16587829
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   folder      int64
 1   dialogueID  object
 2   date        object
 3   from        object
 4   to          object
 5   text        object
dtypes: int64(1), object(5)
memory usage: 759.3+ MB
None

So from our observations we can see that most of the data types are what they have to be, instead of the date column. It is currently an object type, and for further analysis, we will need to change it to datetime object so easier analysis.

In [7]:
print('Count of First DataSet')
print(ubun1.count())
print('\nCount of Second DataSet')
print(ubun2.count())
print('\nCount of Third DataSet')
print(ubun3.count())

Count of First DataSet
folder        1038324
dialogueID    1038324
date          1038324
from          1038311
to             566035
text          1038237
dtype: int64

Count of Second DataSet
folder        9212877
dialogueID    9212877
date          9212877
from          9212675
to            5917560
text          9212063
dtype: int64

Count of Third DataSet
folder        16587830
dialogueID    16587830
date          16587830
from          16587543
to            10853175
text          16586581
dtype: int64

We know the number of total values in each dataset, and based on that can know how many are null and do not need be in our set

In [8]:
#Getting a feel of the number of columns to see if they are similar and can be joined
print(ubun1.columns)
print(ubun2.columns)
print(ubun3.columns)

Index(['folder', 'dialogueID', 'date', 'from', 'to', 'text'], dtype='object')
Index(['folder', 'dialogueID', 'date', 'from', 'to', 'text'], dtype='object')
Index(['folder', 'dialogueID', 'date', 'from', 'to', 'text'], dtype='object')

In [9]:
#Finding all null values in our first dataset
ubun1.isna().sum(axis=0)

folder             0
dialogueID         0
date               0
from              13
to            472289
text              87
dtype: int64

In [10]:
#Finding all null values in our second dataset
ubun2.isna().sum(axis=0)

folder              0
dialogueID          0
date                0
from              202
to            3295317
text              814
dtype: int64

In [11]:
#Finding all null values in our third dataset
ubun3.isna().sum(axis=0)

folder              0
dialogueID          0
date                0
from              287
to            5734655
text             1249
dtype: int64

As the number of null values in to section is really high, lets look to see if they will make an impact in the total number of values and what percentage is missing

In [12]:
#Percentage of missing values in the to section
total_to = ubun1['to'].count()
missing_to = ubun1['to'].isna().sum()
difference_to = total_to - missing_to

percentage = (difference_to/total_to)*100
print(f"Percentage of Values NaN in 'to' column from ubun1 = {percentage}")

#Percentage of missing values in the to section
total_to2 = ubun2['to'].count()
missing_to2 = ubun2['to'].isna().sum()
difference_to2 = total_to2 - missing_to2

percentage2 = (difference_to2/total_to2)*100
print(f"Percentage of Values NaN in 'to' column from ubun2 = {percentage2}")

#Percentage of missing values in the to section
total_to3 = ubun3['to'].count()
missing_to3 = ubun3['to'].isna().sum()
difference_to3 = total_to3 - missing_to3

percentage3 = (difference_to3/total_to3)*100
print(f"Percentage of Values NaN in 'to' column from ubun3 = {percentage3}")

Percentage of Values NaN in 'to' column from ubun1 = 16.561873382388015
Percentage of Values NaN in 'to' column from ubun2 = 44.31290937480989
Percentage of Values NaN in 'to' column from ubun3 = 47.16149882407682

Above percentage values indicate that in couple of our files, we are missing a huge chunk of usernames. This will need further clarification and to see if they can be looked at or replaced with.<br>The main thing is the info in the text column that we will be needing in order to train our bot

We know that the conversations are had by anonymous users, lets see if we can break down to see the number of unique users who are in the dataset

In [13]:
unique_users1 = pd.concat([ubun1['from'], ubun1['to']]).nunique()
print(f"Number of unique users in Ubun1 Dataset:{unique_users1}")

unique_users2 = pd.concat([ubun2['from'], ubun2['to']]).nunique()
print(f"Number of unique users in Ubun2 Dataset:{unique_users2}")

unique_users3 = pd.concat([ubun3['from'], ubun3['to']]).nunique()
print(f"Number of unique users in Ubun3 Dataset:{unique_users3}")

Number of unique users in Ubun1 Dataset:165020
Number of unique users in Ubun2 Dataset:255573
Number of unique users in Ubun3 Dataset:318406

Okay data is never clean and there are always some lines that are duplicated. Lets see how many rows in each data set are duplicated and thus with the process of elimanation we can choose to remove and not work with them.

In [14]:
print(f'Number of duplicated rows in ubun1 data set = {ubun1.duplicated().sum()}')
print(f'Number of duplicated rows in ubun2 data set = {ubun2.duplicated().sum()}')
print(f'Number of duplicated rows in ubun3 data set = {ubun3.duplicated().sum()}')

Number of duplicated rows in ubun1 data set = 1640
Number of duplicated rows in ubun2 data set = 25161
Number of duplicated rows in ubun3 data set = 44872

Compared to the total number of rows, the number isnt as significant, so removing them will still leave us with a decent number of lines.

As the text in the datasets is heavily relevant on replies from users, lets go through each data set and find out the most active users on this site.<br> What this will help us with, is to use the text data from them to come creat the top FAQ answers for our bot.

Each user id, is its own voice and personality. With that we can have several different feels of different people

In [15]:
# Finding the top 5 most common user IDs in each set
top_5_from1 = ubun1['to'].value_counts().head(5)
top_5_to1 = ubun1['from'].value_counts().head(5)

print("Top 5 User with Questions:")
print(top_5_from1)
print("\nTop 5 Users with answers:")
print(top_5_to1)

top_5_from2 = ubun2['to'].value_counts().head(5)
top_5_to2 = ubun2['from'].value_counts().head(5)

print("\nTop 5 User with Questions:")
print(top_5_from2)
print("\nTop 5 Users with answers:")
print(top_5_to2)

top_5_from3 = ubun3['to'].value_counts().head(5)
top_5_to3 = ubun3['from'].value_counts().head(5)

print("\nTop 5 User with Questions:")
print(top_5_from3)
print("\nTop 5 Users with answers:")
print(top_5_to3)

Top 5 User with Questions:
ubuntu           1578
jrib             1342
Pici             1289
bazhang          1276
ActionParsnip    1182
Name: to, dtype: int64

Top 5 Users with answers:
bazhang          5278
ActionParsnip    5010
jrib             4586
Pici             4297
ikonia           4069
Name: from, dtype: int64

Top 5 User with Questions:
ActionParsnip    49727
ikonia           39167
jrib             33973
Dr_Willis        22160
bazhang          21404
Name: to, dtype: int64

Top 5 Users with answers:
ActionParsnip    97134
ikonia           77058
jrib             51863
Dr_Willis        44352
bazhang          40881
Name: from, dtype: int64

Top 5 User with Questions:
ActionParsnip    90543
ikonia           71422
jrib             63193
Dr_Willis        41614
bazhang          39137
Name: to, dtype: int64

Top 5 Users with answers:
ActionParsnip    174906
ikonia           140263
jrib              96249
Dr_Willis         81889
bazhang           74845
Name: from, dtype: int64

So looks like 'ActionParsnip' is very popular, with both questions and answers. 'Ubuntu' itself is not as prevalent as we would think, but taking into account the replies from above users will definetly help us gain an understanding of communication by each

Now lets look at the most common words in each of the data set

In [44]:
#Import all the libraries
from nltk.tokenize import word_tokenize
from nltk.probability import FreqDist
from wordcloud import WordCloud
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/abbaspardawalla/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [46]:
#From earlier we knew, we had few null values in our text column. Lets drop those to tokenise our values easier
ubun1 = ubun1.dropna(subset=['text'])
ubun1.isna().sum(axis=0)

folder             0
dialogueID         0
date               0
from              13
to            472204
text               0
Tokens             0
LongWords          0
dtype: int64

In [43]:
# Tokenize the text data
ubun1['Tokens'] = ubun1['text'].apply(word_tokenize)

# Filter for words longer than 5 letters
ubun1['LongWords'] = ubun1['Tokens'].apply(lambda tokens: [word for word in tokens if len(word) > 5])

# Flatten the list of long words
all_long_words1 = [word for words in ubun1['LongWords'] for word in words]

# Calculate word frequencies for long words
long_word_freq = FreqDist(all_long_words)

# Display the most common long words
print(long_word_freq.most_common(10))

[('ubuntu', 78633), ('install', 59607), ('anyone', 41321), ('Ubuntu', 29528), ('thanks', 25051), ('installed', 24598), ('windows', 21989), ('should', 21866), ('command', 19373), ('problem', 19168)]

Now lets do the painstaking work in finding the most common words in the other two datasets

In [49]:
ubun2 = ubun2.dropna(subset=['text'])
ubun2.isna().sum(axis=0)

folder              0
dialogueID          0
date                0
from              202
to            3294506
text                0
dtype: int64

In [ ]:
# Tokenize the text data
ubun2['Tokens'] = ubun2['text'].apply(word_tokenize)

# Filter for words longer than 5 letters
ubun2['LongWords'] = ubun2['Tokens'].apply(lambda tokens: [word for word in tokens if len(word) > 5])

# Flatten the list of long words
all_long_words2 = [word for words in ubun2['LongWords'] for word in words]

# Calculate word frequencies for long words
long_word_freq2 = FreqDist(all_long_words2)

# Display the most common long words
print(long_word_freq2.most_common(10))

In [ ]:
ubun3 = ubun3.dropna(subset=['text'])
ubun3.isna().sum(axis=0)

In [ ]:
# Tokenize the text data
ubun3['Tokens'] = ubun3['text'].apply(word_tokenize)

# Filter for words longer than 5 letters
ubun3['LongWords'] = ubun3['Tokens'].apply(lambda tokens: [word for word in tokens if len(word) > 5])

# Flatten the list of long words
all_long_words3 = [word for words in ubun3['LongWords'] for word in words]

# Calculate word frequencies for long words
long_word_freq3 = FreqDist(all_long_words3)

# Display the most common long words
print(long_word_freq3.most_common(10))

Cautionary Tale - This EDA is an ongoing process. While the model is in play , we will have to keep on referring to this notebook, as well as adding and needing additional info which hadnt been thought of previously. New commitments to the dataset will always be ongoing , along with new features that will be added to the preliminary task.